<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402286900805-rv1civ02gfcoij5m9sdp4eav5a2aac0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402286900805-rv1civ02gfcoij5m9sdp4eav5a2aac0s</string>
	<key>API_KEY</key>
	<string>AIzaSyD-0_Sw2n5C0nGRcZq6Ck1yMk_sNj1TJSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>402286900805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jsx.anton.Uber</string>
	<key>PROJECT_ID</key>
	<string>uber-63066</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-63066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402286900805:ios:96aa2ce61b91a78e9e552c</string>
</dict>
</plist>